* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

header {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-end; 
    background: linear-gradient(90deg, yellow, orange);
}

.bouton {
    width: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}

.bouton div {
    height: 4px;
    background-color: #333;
    border-radius: 2px;
}

#menu {
    width: 50vmax;
    height: 90vh;
    background-color: white;
    opacity: 0.9;
    line-height: 3;
}

nav {
    position: absolute;
    top: 60px; 
    right: 20px;
    background-color: #fff;
    display: none;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 15px;
}

nav a {
    color: black;
    font-weight: bold;
    text-align: center;

}

nav a:hover {
    background-color: #f0f0f0;
}

nav.active {
    display: flex;
}

body {
    background: linear-gradient(90deg, yellow, orange);
}

body h1 {
    margin-top: 10%;
    text-align: center;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page1 p {
    margin-top: 2%;
    text-align: center;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.image {
    margin-top: 5%;
    margin-left: 33%;
    height: 120px; 
    width: 120px;
    max-width: 90%;        
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    transition: filter 0.3s ease;
}

.textpropos p {
    margin-top: 30%;
    margin-left: 10%;

}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 280px;
    margin: 40px auto 0 auto;
}

.grid img {
    width: 90%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.footer-link {
    margin-top: 60%;
    margin-left: 33%;
    font-size: 1.25rem;
}

.page2 p {
    margin-top: 20%;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

h4 {
    position: absolute;
    left: 36%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.signature {
    margin-top: 20%;
    margin-left: 30%;
    width: 40%;
}

.texteapropos {
    margin-top: 10%;
    line-height: 2;
    text-align: center;
}

.titre_contact {
    margin-top: 10%;
    font-size: 2.5rem;

}

.texte_contact {
    margin-top: 12%;
    font-size: 1rem;
    text-align: left;
    line-height: 2;
}

.logo_insta {
    margin-top: 50%;
    margin-left: 40%;
    width: 15%;
    height: 15%;
}